@media screen and (max-width: 2300px) {

}

@media screen and (max-width: 1535px) {


}

@media screen and (max-width: 1440px) {
    .header_search input {
        width: 280px;
    }
    .menu_wrap .menu a.show {
        padding: 10px;
    }
    .menu_wrap .menu a {
        font-size: 12px;
    }
    .breadcrumb_wrapp {
        margin-top: 162px;
    }
    .header_wrapper {
        padding: 0 16px;
    }
    .menu_wrap {
        padding: 0 16px;
    }
    .menu_wrap .menu {
        column-gap: 10px;
    }
}

@media screen and (max-width: 1370px) {
    .header_wrapper .header_logo {
        margin-right: 36px;
    }
}

@media screen and (max-width: 1280px) {
    .header .btn {
        display: none;
    }
}


@media screen and (max-width: 1178px) {
    .breadcrumb_wrapp {
        margin-top: 86px;
    }
    .banner_title {
        top: 62px;
        font-size: 28px;
    }
    .header .menu_mob_btn {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
        width: 24px;
        height: 24px;
    }
    .header .menu_mob_btn span {
        display: block;
        width: 20px;
        height: 2px;
        border-radius: 4px;
        background: #ffffff;
        transition: all 0.2s linear;
    }

    .menu_mob_close {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
        width: 44px;
        height: 44px;
        background: #231F20;
        border-radius: 10px;
        z-index: 8;
    }

    .header .menu_mob_close span {
        display: block;
        width: 16px;
        height: 1px;
        background: #ffffff;
        transition: all 0.2s linear;
    }
    .header .menu_mob_close span:nth-child(1) {
        transform: rotate(45deg) translate(2px, 2px);
    }
    .header .menu_mob_close span:nth-child(2) {
        transform: rotate(-45deg) translate(2px, -2px);
    }

    .header .menu_wrap {
        position: absolute;
        top: -40px;
        left: 0;
        background: rgba(0, 0, 0, 0.47);
        width: 100%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s linear;
    }

    .header .menu_wrap.active {
        visibility: visible;
        opacity: 1;
        z-index: 5;
    }

    .header .menu {
        position: relative;
        right: 100%;
        flex-direction: column;
        width: 367px;
        height: 100%;
        padding: 104px 20px 20px;
        background: #ffffff;
        z-index: 10;
        transition: all 0.4s linear;
    }
    .header .active .menu {
        right: 0;
    }

    .header .menu a {
        display: block;
        padding: 10px 0;
        font-size: 18px;
        color: #222222;
        width: 100%;
    }
}


@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 840px) {

}

@media screen and (max-width: 769px) {
    .banner_title {
        top: 6vw;
        font-size: 3vw;
    }
}
 
@media screen and (max-width: 600px) {

}

@media screen and (max-width: 587px) {
    .section_title {
        width: 100%;
    }
    .section_content {
        row-gap: 20px;
    }
    .section_des {
        max-width: 100%;
        width: 100%;
    }
    .section_comment {
        max-width: 100%;
        width: 100%;
    }
    .section {
        margin-top: 34px;
        padding-bottom: 28px;
    }
    .section_item {
        font-size: 26px;
    }
    .section_img {
        margin-top: 18px;
    }
    .section_content {
        margin-top: 18px;
    }
    .section_item {
        font-size: 18px;
    }
}

@media screen and (max-width: 440px) {
    .banner_title {
        top: 4vw;
        font-size: 5vw;
    }
    .banner .banner_item {
        position: relative;
        padding-top: 38vw;
    }
}

@media screen and (max-width: 390px) {

}
@media screen and (max-width: 360px) {

}

@media screen and (max-width: 330px) {

}